<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">

      <a class="navbar-brand" href="/mainhome"><i class="fas fa-brain" style="margin-right: 6px"></i>Centro de Servicios en Psicología</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToInicio()">
              <i class="bi bi-gear-fill" style="margin-right: 5px"></i>Incio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToNosotros()">
              <i class="bi bi-gear-fill" style="margin-right: 5px"></i>Nosotros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToHistory()">
              <i class="bi bi-gear-fill" style="margin-right: 5px"></i>Historia
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="scrollToEvaluacionPsicologica()">
              <i class="bi bi-gear-fill" style="margin-right: 5px"></i>Servicios
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-envelope-fill" style="margin-right: 5px"></i>Contacto</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" href="appointmentform"><i class="fas fa-calendar-alt" style="margin-right: 5px"></i>Agenda tu Cita</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>



<main [@fadeInOut]>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div id="nosotros" class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div id="inicio" class="carousel-inner">
      <div [@fadeInOut] class="carousel-item active">
        <img src="/assets/images/carousel/image1.png" class="d-block w-100" alt="Imagen 1" style="object-fit: cover; ">
        <div class="container">
          <div [@slideInOut] class="carousel-caption text-start">
            <h1 >Consultorio De Psicologia Unibague</h1>
            <p >Un espacio del Programa de Psicología de la Universidad de Ibagué, ahora parte del Centro de Servicios en Psicología de la Universidad.</p>
            <p ><a class="btn btn-lg btn-primary" href="#">Conoce más</a></p>
          </div>
        </div>
      </div>


      <div class="carousel-item">
        <img src="/assets/images/carousel/image2.png" class="d-block w-100" alt="Imagen 2" style="object-fit: cover; ">

        <div class="container">
          <div class="carousel-caption">
            <h1>Servicios de Atención Psicológica</h1>
            <p>Ofrecemos evaluación, intervención individual, terapia de pareja y familia, psicoterapia de grupo, talleres de crecimiento personal y más.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Explora nuestros servicios</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/images/carousel/image3.png" class="d-block w-100" alt="Imagen 3" style="object-fit: cover; ">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Misión y Visión</h1>
            <p>Nuestra misión es promover el fortalecimiento de habilidades y herramientas terapéuticas, y nuestra visión es ser líderes en atención psicológica y promoción del bienestar humano en el Tolima.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Conoce más</a></p>
          </div>
        </div>
      </div>
    </div>

    <button  class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span  class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>

  <div class="container marketing">

    <div  class="container marketing">

        <div class="col-lg-11,5 text-center mb-5">
          <img src="/assets/images/marketing/image1.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagen 1" style="object-fit: cover;">
          <h2>Quienes Somos?</h2>
          <br>
          <p class="text-justify">{{ textoResumido }}</p>
          <p [@slideInOut]="mostrarTextoCompleto ? 'in' : 'out'" [innerHTML]="textoCompleto " class="text-justify">
          </p>
          <button id="history" class="btn btn-secondary" (click)="toggleTextoCompleto()">{{ mostrarTextoCompleto ? 'Ver menos' : 'Ver más' }} &raquo;</button>
        </div>

        <br >

        <div class="col-lg-12 text-center mb-5">
          <img src="/assets/images/marketing/image2.png" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="Imagen 2" style="object-fit: cover;">
          <h2>Historia</h2>
          <br>
          <p class="text-justify">{{ textoHistoriaResumido }}</p>
          <p [@slideInOut]="mostrarTextoHistoriaCompleto ? 'in' : 'out'" [innerHTML]="textoHistoriaCompleto " class="text-justify">
          </p>
          <button class="btn btn-secondary"  (click)="toggleTextoHistoriaCompleto()">{{ mostrarTextoHistoriaCompleto ? 'Ver menos' : 'Ver más' }} &raquo;</button>
        </div>

    </div >

    <hr id="evaluacion-psicologica" class="featurette-divider">

    <div  class="row featurette" >
      <div class="col-md-7">
        <h2 class="featurette-heading">Evaluación Psicológica</h2>
        <p class="lead">Análisis sistemático y estimación del funcionamiento psicológico de un individuo, pareja o un grupo familiar, en las áreas intelectual, emocional, afectiva, interpersonal y social.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Intervención Individual</h2>
        <p class="lead">Proceso de asesoría psicológica o terapéutico orientado al cambio comportamental, cognitivo y emocional del consultante.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Terapia de Pareja y Familia</h2>
        <p class="lead">Proceso orientado a la evaluación, diagnóstico e intervención a nivel de la pareja y la familia, en las diferentes problemáticas que se generan en el desarrollo del ciclo vital individual y familiar.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Psicoterapia de Grupo</h2>
        <p class="lead">Proceso orientado a la identificación de problemas emocionales diversos y a la modificación de patrones insatisfactorios a través de la vivencia de grupos y la retroalimentación del mismo.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Talleres de Crecimiento Personal</h2>
        <p class="lead">Actividad didáctica vivencial estructurada cuyo objetivo es superar déficits o excesos comportamentales y desarrollar estrategias para solución de problemas.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Seminarios y Conferencias</h2>
        <p class="lead">Los consultorios ofrecerán también estas modalidades, teniendo como base las necesidades de los usuarios, en temáticas propias del campo psicológico.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Proyectos de Promoción y Prevención</h2>
        <p class="lead">Actividad que privilegia el desarrollo de programas dirigidos al control y prevención de factores de riesgo en diversas problemáticas propias de la psicología a nivel de salud mental.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Consultoría</h2>
        <p class="lead">Proceso de orientación y asesoría, dirigido a personas naturales e instituciones públicas y privadas, para el desarrollo de propuestas y proyectos en el campo psicológico.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 300x300" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">300x300</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-12">
        <h2>Objetivos</h2>
        <ul>
          <li>Promover y fomentar el bienestar humano de la comunidad tolimense, a través de atención psicológica individual y familiar.</li>
          <li>Establecer acciones de formación investigativa y profesional, que permitan la participación de estudiantes, docentes, investigadores, por medio de la integración, aplicación de conocimientos, actitudes y habilidades en el marco del quehacer profesional.</li>
          <li>Diseñar, implementar y evaluar programas de prevención, promoción e intervención psicosocial fundamentados en procesos de investigación.</li>
        </ul>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-12">
        <h2>Misión</h2>
        <p>Unidad de Atención Clínica y Psicosocial es una I.P.S que tiene como misión promover el fortalecimiento de habilidades, herramientas terapéuticas de los estudiantes de pregrado y postgrado en el quehacer del psicólogo, posibilitando a su vez la planificación y ejecución de programas de promoción del bienestar humano de individuos, familias y comunidades de la región.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-lg-12">
        <h2>Visión</h2>
        <p>En el 2023 la I.P.S se proyecta como un centro acreditado de atención psicológica principalmente a nivel familiar, líder a nivel del Tolima y que brinda servicio bajo estándares de calidad, ética y responsabilidad, fomentando el bienestar humano a través del desarrollo de programas de intervención e investigación psicosocial.</p>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>


  <footer class="container">
    <p class="float-end" ><a (click)="scrollToInicio()"><i class="bi bi-arrow-up-circle-fill" ></i>Volver arriba</a></p>
    <p>&copy; 2021-2023 Consultorios de Psicología de la Universidad de Ibagué &middot; <a href="#">Privacidad</a> &middot; <a href="#">Términos</a></p>
  </footer>
</main>


