<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="text-center mb-4 special-title"><i class="fas fa-calendar-alt"></i> Mostrar Especialidades</h2>
    </div>
  </div>
  <div class="row mt-4" *ngIf="specialties && specialties.length > 0">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Especialidades</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Especialidad</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let specialty of specialties">
                <td>{{ specialty.id }}</td>
                <td>{{ specialty.specialty }}</td>
                <td>
                  <div class="d-flex">
                    <button class="btn btn-danger btn-sm mr-2" (click)="deleteSpecialty(specialty.id)">Eliminar</button>
                    <button class="btn btn-primary btn-sm edit-button" (click)="openEditModal(specialty)">Editar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!specialties || specialties.length === 0">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No se encontraron especialidades.
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-lg btn-floating mt-2" (click)="openModal()">
    <i class="fas fa-plus"></i>
  </button>

  <!-- Modal Gen-->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="modalOpen" [class.d-block]="modalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Especialidad</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="specialtyName">Nombre:</label>
            <input type="text" class="form-control" id="specialtyName" [(ngModel)]="newSpecialty.specialty" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="createSpecialty()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Editar -->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="editModalOpen" [class.d-block]="editModalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Especialidad</h5>
          <button type="button" class="close" (click)="closeEditModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="editSpecialtyName">Nombre:</label>
            <input type="text" class="form-control" id="editSpecialtyName" [(ngModel)]="selectedSpecialty.specialty" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="updateSpecialty()">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Éxito -->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="successModalOpen" [class.d-block]="successModalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Especialidad Actualizada Exitosamente</h5>
          <button type="button" class="close" (click)="closeSuccessModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>La especialidad se ha agregado/actualizado exitosamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeSuccessModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Error -->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="errorModalOpen" [class.d-block]="errorModalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error al Agregar/Actualizar la Especialidad</h5>
          <button type="button" class="close" (click)="closeErrorModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ha ocurrido un error al agregar/actualizar la especialidad. Por favor, intenta nuevamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeErrorModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error al Eliminar -->
<div class="modal" tabindex="-1" role="dialog" [class.show]="deleteErrorModalOpen" [class.d-block]="deleteErrorModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error al Eliminar la Especialidad</h5>
        <button type="button" class="close" (click)="closeDeleteErrorModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ha ocurrido un error al eliminar la especialidad. Verifica que no este asociado a un Psicologo</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeDeleteErrorModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

