<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
  <!-- icono o nombre -->

  <a class="navbar-brand"  routerLink="/adminhome">
    <i class="bi bi-flower1"style="margin-right: 5px;"  ></i>
    <span class="text-warning">Modulo Administrativo Psicologico</span>
  </a>

  <!-- boton del menu -->

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

    <!-- elementos del menu colapsable -->

  <div class="collapse navbar-collapse" id="menu">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/adminhome">Inicio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Administracion
        </a>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" >Psicologas</a></li>
          <li><a class="dropdown-item" >Especialidades</a><li>
          <li><a class="dropdown-item" >Servicios</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Horarios
        </a>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" >Gestionar Mis Horarios</a></li>
          <li><a class="dropdown-item" >Ver Horarios</a></li>

        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Pacientes
        </a>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="/search-patient">Ver Info Paciente</a></li>
          <li><a class="dropdown-item" routerLink="/update-patient">Actualizar Datos Paciente</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Citas
        </a>
        <ul class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" >Ver Mis Citas</a></li>
          <li><a class="dropdown-item" routerLink="/search-appointment">Administrar Citas</a><li></li>
        </ul>
      </li>
    </ul>


    <ul class="navbar-nav  flex-row flex-wrap text-light">
      <!-- Enlaces redes sociales -->
      <li class="nav-item col-6 col-md-auto p-2">
        <a href="https://es-la.facebook.com/SoyUnibague/" target="_blank" class="nav-link text-light">
          <i class="bi bi-facebook"></i>
          <small class="d-md-none ms-2">Facebook</small>
        </a>
      </li>
      <li class="nav-item col-6 col-md-auto p-2">
        <a href="https://twitter.com/unibagueoficial" target="_blank" class="nav-link text-light">
          <i class="bi bi-twitter"></i>
          <small class="d-md-none ms-2">Twitter</small>
        </a>
      </li>
      <li class="nav-item col-6 col-md-auto p-2">
        <a href="https://instagram.com/soyunibague" target="_blank" class="nav-link text-light">
          <i class="bi bi-instagram"></i>
          <small class="d-md-none ms-2">Instagram</small>
        </a>
      </li>
    </ul>

   <!--boton Informacion -->

   <form class="d-flex">
    <!-- ESTE PUTO BOTON TOCA METERLO PERO NO SE DONDE AUN GRACIAS
      <button class="btn btn-outline-warning d-none d-md-inline-block" type="submit" routerLink="/signup">Registrate</button>
    <span style="margin: 0 5px;"></span> -->
    <button type="button" class="btn btn-outline-warning" (click)="onLogout()">
      <i class="fa-regular fa-user"></i> Perfil
    </button>
    <span style="margin: 0 5px;"></span>
    <button type="button" class="btn btn-outline-warning" (click)="onLogout()">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>


  </form>


  </div>

  </div>
</nav>
