.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: blueviolet;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows {
  -moz-appearance: textfield;
}
