<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="text-center mb-4 special-title"><i class="fas fa-calendar-alt"></i> Mostrar Citas</h2>
      <div class="form-group">
        <label for="selectedDate">Fecha:</label>
        <input type="date" class="form-control" id="selectedDate" [(ngModel)]="selectedDate" (change)="filterSchedules()" />
      </div>
      <div class="form-group">
        <label for="selectedStatus">Estado:</label>
        <select class="form-control" id="selectedStatus" [(ngModel)]="selectedStatus" (change)="filterSchedules()">
          <option value="">Todos</option>
          <option value="4">Disponible</option>
          <option value="5">Reservado</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="filteredSchedules && filteredSchedules.length > 0">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Citas del Día</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Psicólogo</th>
                <th>Estado</th>
                <th>Acciones</th> <!-- Nueva columna para acciones -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of filteredSchedules">
                <td>{{ schedule.date }}</td>
                <td>{{ schedule.time }}</td>
                <td>{{ schedule.psychologist }}</td>
                <td [ngClass]="getStatusColor(schedule.state)">
                  <span>{{ getStatusText(schedule.state) }}</span>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm" (click)="deleteSchedule(schedule.id)">Eliminar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!filteredSchedules || filteredSchedules.length === 0">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No se encontraron horarios para la fecha y estado seleccionados.
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-lg btn-floating mt-2" (click)="openModal()">
    <i class="fas fa-plus"></i>
  </button>

  <!-- Modal Gen-->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="modalOpen" [class.d-block]="modalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Cita</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="appointmentDate">Fecha:</label>
            <input type="date" class="form-control" id="appointmentDate" [(ngModel)]="newAppointment.date" />
          </div>
          <div class="form-group">
            <label for="appointmentTime">Hora:</label>
            <input type="time" class="form-control" id="appointmentTime" [(ngModel)]="newAppointment.time" />
          </div>
          <div class="form-group">
            <label for="appointmentState">Estado:</label>
            <select class="form-control" id="appointmentState" [(ngModel)]="newAppointment.state">
              <option value="4">Disponible</option>
              <option value="5">Reservado</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="createSchedule()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Éxito -->
<div class="modal" tabindex="-1" role="dialog" [class.show]="successModalOpen" [class.d-block]="successModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Cita Agregada Exitosamente</h5>
        <button type="button" class="close" (click)="closeSuccessModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>La cita se ha agregado exitosamente.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeSuccessModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Error -->
<div class="modal" tabindex="-1" role="dialog" [class.show]="errorModalOpen" [class.d-block]="errorModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error al Agregar la Cita</h5>
        <button type="button" class="close" (click)="closeErrorModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ha ocurrido un error al agregar la cita. Por favor, intenta nuevamente.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeErrorModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

