.header{
    z-index: 1;
    background: linear-gradient(-45deg, #03396c,#005b96, #6497b1,#b3cde0, #ffffff);
    background-size: 1000% 1000%;
  
    animation: animate 15s ease infinite;
}
.collage-section {
    margin: 50px;
    flex: 1;
    width: 80%;
    
  }
  .form-container {
    background-color: white;
    margin: 50px;
    left: -150px;
  }


@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
    
}

 