
<div class="header">
  <section class="d-flex justify-content-center align-items-center">
    <div class="collage-section">
      <img class="collage-section" src="assets/Collage.png">
    </div>
    <div class="card shadow col-xs-12 col-sm-6 col-md-6 col-lg-4 p-4 form-container">
      <div class="mb-4 d-flex justify-content-start align-items-center">
        <h4><i class="bi bi-calendar-check"></i>&nbsp;Agenda tu cita</h4>
      </div>
      <div class="mb-1">
        <form id="contacto">
          <div class="mb-4 d-flex justify-content-between">
            <div>
              <label for="name"><i class="bi bi-person-fill"></i> Nombre</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="ej: Gabriel" required (input)="validateInput($event, 'name')">
              <div class="name text-danger"></div>
            </div>
            <div>
              <label for="lastname"><i class="bi bi-person-bounding-box"></i> Apellido</label>
              <input type="text" class="form-control" name="lastname" id="lastname" placeholder="ej: Pacheco" required (input)="validateInput($event, 'lastname')">
              <div class="lastname text-danger"></div>
            </div>
          </div>
          <div class="mb-4">
            <label for="email"><i class="bi bi-envelope-fill"></i> Correo</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="ej: gpmcheco@mail.com" required (input)="validateEmail($event)">
            <div class="email text-danger"></div>
          </div>
          <div class="form-group">
            <label for="linkage">Tipo de vinculación</label>
            <select class="form-control" id="linkage" (change)="onLinkageSelected($event)">
              <option *ngFor="let pacient of userType" [value]="pacient.id">{{pacient.patientType}}</option>
            </select>
          </div>
          <br>
          <div class="form-group" *ngIf="showFields">
            <label for="program">Programa académico</label>
            <select class="form-control" id="program">
              <option *ngFor="let academic of academics" [value]="academic.id">{{academic.program}}</option>
            </select>
          </div>
          <br>
          <div class="form-group" *ngIf="showFields">
            <label for="semester">Semestre</label>
            <select class="form-control" id="semester">
              <option *ngFor="let semester of semesters" [value]="semester.id">{{semester.semester}}</option>
            </select>
          </div>
          <br>
          <div class="mb-4">
            <div class="form-group">
              <label for="gender"><i class="bi bi-gender-ambiguous"></i> Género</label>
              <select class="form-control" id="gender">
                <option *ngFor="let gender of genders" [value]="gender.id">{{gender.gender}}</option>
              </select>
            </div>
          </div>
          <div class="mb-4 d-flex justify-content-between">
            <div>
              <label for="age"><i class="bi bi-person-plus-fill"></i> Edad</label>
              <input type="number" class="form-control" name="age" id="age" required maxlength="2" (input)="validateAge($event)">
              <div class="age text-danger"></div>
            </div>
            <div>
              <label for="phone"><i class="bi bi-telephone-fill"></i> Teléfono</label>
              <input type="number" class="form-control" name="phone" id="phone" required maxlength="10" (input)="validatePhone($event)">
              <div class="phone text-danger"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="service">Seleccione el servicio de interés</label>
            <select class="form-control" id="service" name="service" [(ngModel)]="selectedService" (ngModelChange)="onServiceSelected($event)">
              <option *ngFor="let service of services" [value]="service.id">{{service.serviceName}}</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="psychologist">Seleccione el/la profesional</label>
            <select class="form-control" id="psychologist" name="psychologist" [(ngModel)]="selectedPsychologistId" (ngModelChange)="onPsychologistSelected($event)">
              <option *ngFor="let psychologist of psychologistsByService" [value]="psychologist.id">{{psychologist.name + ' ' + psychologist.last_name}}</option>
            </select>
          </div>
          <br>
          <div>
            <div class="form-group">
              <label for="date">Fecha</label>
              <input type="date" id="date" class="form-control" name="date" (change)="onDateSelected($event)">
            </div>
          </div>
          <br>
          <div>
            <div>
              <label for="time"><i class="bi bi-clock-fill"></i> Hora</label>
            </div>
            <div style="text-align:center">
              <tr>
                <td>
                  <div class="button-container">
                    <button class="btn btn-primary" *ngFor="let times of time" id="time" (click)="selectedTime = times.time">
                      {{ formatHour(times.time) }}
                    </button>
                  </div>
                  <br>
                </td>
              </tr>
            </div>
          </div>
          <br>
          <div>
            <button id="button" class="col-12 btn btn-primary justify-content-between" (click)="createAppointment()">
              <span>Enviar</span><i id="icono" class="bi bi-cursor-fill"></i>
            </button>
          </div>
        </form>
      </div>

    </div>
  </section>
</div>

<!-- Modal Template -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {{modalBody}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cerrar</button>
  </div>
</ng-template>
