.header {
  z-index: 1;
}

.background {
  height: 100vh;
  background-image: url('~src/assets/images/carousel/image1.png');
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadein 20s infinite ;
}

@keyframes fadein {
  0% {background-image: url('~src/assets/images/carousel/image1.png');}
  25% {background-image: url('~src/assets/images/carousel/image2.png');}
  50% {background-image: url('~src/assets/images/carousel/image3.png');}
  75% {background-image: url('~src/assets/images/carousel/image1.png');}
  100% {background-image: url('~src/assets/images/carousel/image2.png');}
}

/* Aquí iría el resto del CSS... */


.container-fluid {
  max-width: 100%;
  padding: 0 15px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.label-text {
  margin-left: 10px;
}

.selected {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white;
}

.form-container {
  background-color: white;
  margin: 60px;
  flex: 1.1;
  width: 93.5%;
  max-width: 600px; /* Establece un ancho máximo para el formulario. */
}

.button-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .header > section {
    flex-direction: column;
    align-items: center;  /* Esto centrará los hijos de la sección */
  }

  .form-container {
    width: calc(100% - 40px);
    margin: 20px;
    align-self: center; /* Esto centrará el contenedor del formulario */
  }
}
