.header {
  z-index: 1;
  background: linear-gradient(-45deg, #ffffff, #d7d7f2, #b1b1e8, #8484d1, #6f4d8f);
  background-size: 1000% 1000%;
  animation: animate 13s ease infinite;
}

.container-fluid {
  max-width: 100%;
  padding: 0 15px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.label-text {
  margin-left: 10px;
}

.selected {
  background-color: cornflowerblue;
  border-color: cornflowerblue;
  color: white;
}

.collage-section {
  margin: 30px;
  flex: 0.9;  /* reducido a 0.9 para dar más espacio al formulario */
  width: 100%;  /* reducido proporcionalmente al aumento del formulario */
}

.form-container {
  background-color: white;
  margin: 60px;
  left: 10;
  flex: 1.1;  /* aumentado a 1.1 */
  width: 93.5%;  /* aumentado en un 10% */
}

img{
  border-radius: 25px;
}

.button-container {
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .header > section {
    flex-direction: column;
    align-items: center;  /* Esto centrará los hijos de la sección */
  }

  .collage-section {
    width: 90%;
    order: 2;
    margin-bottom: 20px;
  }

  .form-container {
    width: calc(100% - 40px);
    margin: 20px;
    align-self: center; /* Esto centrará el contenedor del formulario */
  }
}




@keyframes animate {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
