<div class="container mt-4">
  <div class="row">
    <div class="col">
      <h2 class="text-center mb-4 special-title"><i class="fas fa-book-medical"></i> Mostrar Psicólogos</h2>
    </div>
  </div>
  <div class="row mt-4" *ngIf="psychologists && psychologists.length > 0">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Psicólogos</h3>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Especialidad</th>
                <th>Rol</th>
                <th>Servicios</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let psychologist of psychologists">
                <td>{{ psychologist.id }}</td>
                <td>{{ psychologist.name }}</td>
                <td>{{ psychologist.lastName }}</td>
                <td>{{ psychologist.email }}</td>
                <td>{{ psychologist.specialty.specialty }}</td>
                <td>{{ psychologist.role.role }}</td>
                <td>
                  <ul>
                    <li *ngFor="let service of psychologist.services">{{ service.serviceName }}</li>
                  </ul>
                </td>
                <td>
                  <div class="d-flex">
                    <button class="btn btn-danger btn-sm mr-2" (click)="deletePsychologist(psychologist.id)">Eliminar</button>
                    <button class="btn btn-primary btn-sm edit-button" (click)="openEditModal(psychologist)">Editar</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4" *ngIf="!psychologists || psychologists.length === 0">
    <div class="col">
      <div class="alert alert-info" role="alert">
        No se encontraron psicólogos.
      </div>
    </div>
  </div>

 <!-- Modal de Editar -->
<div class="modal" tabindex="-1" role="dialog" [class.show]="editModalOpen" [class.d-block]="editModalOpen">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Editar Psicólogo</h5>
        <button type="button" class="close" (click)="closeEditModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="editName">Nombre:</label>
          <input type="text" class="form-control" id="editName" [(ngModel)]="selectedPsychologist.name" />
        </div>
        <div class="form-group">
          <label for="editLastName">Apellido:</label>
          <input type="text" class="form-control" id="editLastName" [(ngModel)]="selectedPsychologist.lastName" />
        </div>
        <div class="form-group">
          <label for="editEmail">Email:</label>
          <input type="email" class="form-control" id="editEmail" [(ngModel)]="selectedPsychologist.email" />
        </div>
        <div class="form-group">
          <label for="editSpecialty">Especialidad:</label>
          <select class="form-control" id="editSpecialty" [(ngModel)]="selectedPsychologist.specialty.id">
            <option *ngFor="let specialty of specialties" [value]="specialty.id">{{ specialty.specialty }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="editRole">Rol:</label>
          <input type="text" class="form-control" id="editRole" [(ngModel)]="selectedPsychologist.role.role" readonly />
        </div>
        <div class="form-group scrollable-services">
          <label for="editServices">Servicios:</label>
          <div>
            <div *ngFor="let service of services" class="form-check">
              <input class="form-check-input" type="checkbox" [id]="'service-' + service.id" [value]="service.id"
                [checked]="isServiceSelected(service)" (change)="toggleService(service)">
              <label class="form-check-label" [for]="'service-' + service.id">
                {{ service.serviceName }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeEditModal()">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="updatePsychologist()">Guardar</button>
      </div>
    </div>
  </div>
</div>


  <!-- Modal de Éxito -->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="successModalOpen" [class.d-block]="successModalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Psicologo Actualizado Exitosamente</h5>
          <button type="button" class="close" (click)="closeSuccessModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>El psicólogo se ha actualizado exitosamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeSuccessModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Error -->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="errorModalOpen" [class.d-block]="errorModalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error al Actualizar el Psicólogo</h5>
          <button type="button" class="close" (click)="closeErrorModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ha ocurrido un error al actualizar el psicólogo. Por favor, intenta nuevamente.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeErrorModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Error al Eliminar -->
  <div class="modal" tabindex="-1" role="dialog" [class.show]="deleteErrorModalOpen" [class.d-block]="deleteErrorModalOpen">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Error al Eliminar el Psicólogo</h5>
          <button type="button" class="close" (click)="closeDeleteErrorModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ha ocurrido un error al eliminar el psicólogo.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="closeDeleteErrorModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
